.caricadati {
    margin-top: 35vh;
    align-items: center;
    align-content: center;
    text-align: center;
}

.container__profilo {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2.5cm 1fr;
    grid-template-areas: ". .";
}

.container__profilo__inside {
    padding: 1vw;
}

.container2 {
    grid-area: container2;
    text-align: center;
    font-size: 100%;
    margin: 100% -1.5rem 1% -1.5rem;
    color: var(--text);
}

.container2 a {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    color: var(--text);
}

svg {
    fill: var(--text);
    cursor: pointer;
}

.mi1:hover svg {
    transform: rotate(-90deg);
}

* {
    transition-duration: 0.3s;
}

.logocont {
    text-align: center;
    margin: 15vw 0vw 15vw 0vw;
}

.logocont h1 {
    font-size: 5em;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.app {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    border-radius: 1rem;
    height: 100%;
    position: fixed;
}

.barralattotal2 {
    display: none;
}

.app2 {
    display: none;
}

.sidenav {
    display: flex;
    flex-flow: column nowrap;
    background: var(--sporty-blue);
    color: var(--text);
    padding: 1.5rem;
    border-radius: 1rem;
    flex: 0 1 auto;
    width: 16rem;
    max-width: 100%;
    transition: width 250ms ease-out;
}

.sidenav.is-collapsed {
    width: 5.5rem;
}

.sidenav__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
}

.header__icon {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}

.header__icon .fa {
    aspect-ratio: 1;
    font-size: 1.25rem;
}

.header__icon .fa {
    font-size: 1.75rem;
}

.header__text {
    display: inline-block;
    flex: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    transition-delay: 100ms;
    font-weight: 700;
    flex: 1;
}

.is-collapsed .header__text {
    opacity: 0;
    transform: translateX(1rem);
    transition-delay: 0s;
}

.sidenav__button {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0;
    background: none;
    color: var(--text);
    border: 0;
    overflow: hidden;
    border-radius: 0.5rem;
    cursor: pointer;
    outline-offset: -2px;
    transition-property: background, color;
    transition-duration: 250ms;
    color: var(--text);
    flex: 0 0 auto;
    position: absolute;
    left: 100%;
}

.is-active .sidenav__button {
    color: var(--text);
}

.sidenav__button:focus-visible {
    outline: 2px solid var(--sporty-dark-blue);
}

.sidenav__button:focus-visible,
.sidenav__button:hover svg {
    fill: var(--text)8c !important;
}

.sidenav__button-icon {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}

.sidenav__button-icon .fa {
    aspect-ratio: 1;
    font-size: 1.25rem;
}

.sidenav__button-text {
    display: inline-block;
    flex: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    transition-delay: 100ms;
    font-weight: 700;
    flex: 1;
}

.is-collapsed .sidenav__button-text {
    opacity: 0;
    transform: translateX(1rem);
    transition-delay: 0s;
}

.header .sidenav__button-icon {
    width: auto;
    color: var(--text);
}

.header .sidenav__button-icon>* {
    transition-property: transform, color;
    transition-duration: 250ms;
}

.header .sidenav__button-icon>*:hover {
    color: var(--text);
}

.is-collapsed .header .sidenav__button-icon>* {
    transform: rotate(180deg);
}

.sidenav__nav {
    flex: 1 1 auto;
    margin: 1rem -1.375rem 0;
    padding: 0 1.375rem;
}

.nav {
    overflow: hidden;
    overflow-y: auto;
    scrollbar-color: var(--text) transparent;
    scrollbar-width: thin;
    transition: scrollbar-color 200ms;
}

.nav::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.nav::-webkit-scrollbar-track {
    background: transparent;
    transition: background 200ms;
}

.nav::-webkit-scrollbar-thumb {
    background: var(--text);
}

.nav::-webkit-scrollbar-corner {
    background: none;
}

.nav:hover {
    scrollbar-color: var(--text) var(--sporty-dark-blue);
}

.nav:hover::-webkit-scrollbar-track {
    background: var(--sporty-dark-blue);
}

.nav__list {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 2.5rem;
}

.nav__divider {
    margin: 1rem 0;
    padding: 0 0.625rem;
    min-width: 2.5rem;
}

.nav__divider::before {
    display: block;
    content: "";
    height: 0.99px;
    background: var(--sporty-dark-blue);
}

.nav__item {
    position: relative;
}

.nav__item+.nav__item {
    margin-top: 2rem;
}

.nav__button {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0;
    background: none;
    color: var(--text);
    border: 0;
    overflow: hidden;
    border-radius: 0.5rem;
    cursor: pointer;
    outline-offset: -2px;
    transition-property: background, color;
    transition-duration: 250ms;
    max-width: 100%;
    width: 100%;
}

.is-active .nav__button {
    color: var(--text);
}

.nav__button:focus-visible {
    outline: 2px solid var(--sporty-dark-blue);
}

.nav__button:focus-visible,
.nav__button:hover {
    background: var(--sporty-blue);
    color: var(--text);
}

.nav__icon {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}

.nav__icon .fa {
    aspect-ratio: 1;
    font-size: 1.25rem;
}

.nav__label {
    display: inline-block;
    flex: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    transition-delay: 100ms;
    margin-right: 2.35rem;
}

.is-collapsed .nav__label {
    opacity: 0;
    transform: translateX(1rem);
    transition-delay: 0s;
}

.is-collapsed .nav__badge {
    transform: translate(-0.25rem, 50%);
    color: transparent;
    font-size: 0;
    padding: 0.25rem;
}

.container__profili {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__profili__inside {
    display: grid;
    margin: 15vw 8vw 8vw 8vw;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: "container__profili__inside__1 container__profili__inside__2""container__profili__inside__3 container__profili__inside__3";
    z-index: 99;
}

.container__profili__inside__1 h1 {
    line-height: 2cm;
}

.container__profili__inside__1 {
    grid-area: container__profili__inside__1;
    margin-right: 1vw;
}

.container__profili__inside__2 {
    grid-area: container__profili__inside__2;
    margin-left: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__profili__inside__3 {
    margin-top: 3vw;
    text-align: center;
    grid-area: container__profili__inside__3;
}

.card {
    background: var(--sporty-blue) !important;
}

.backg {
    position: absolute;
    z-index: 0;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.backg h1 {
    font-size: 30rem;
    font-weight: 900;
    color: var(--background-text);
}

.circlebutton {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    font-size: 1.5rem;
    font-weight: 900;
    margin: 1vw;
}

.circlebutton__little {
    border-radius: 100%;
    height: 125px;
    width: 125px;
    font-size: 1.2rem;
    font-weight: 900;
    margin: 1vw;
}

.input__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: ". .";
}

@media screen and (max-width: 800px) {
    .barralattotal2 {
        display: block;
        position: absolute;
    }
    .barralattotal {
        display: none;
    }
    .bodyProfilo {
        display: block;
        height: 100%;
    }
    .sidenav__button {
        position: static;
    }
}