<div class="caricadati" *ngIf="this.userData == ''">
    <h1 class="ultrabig__text">Sporty</h1>
    <div>
        <svg class="octimal" width="200" height="100">
                <text class="octitxt1" x="50%" y="70%" fill="#303030" style="font-family: 'Montserrat', sans-serif" dominant-baseline="middle" text-anchor="middle" (click)="octimal()">OCTIMAL</text>    
            </svg>
    </div>
</div>
<div class="container__profili" *ngIf="this.userData != '' && preselection == 0 || preselection == 2">
    <div class="backg">
        <h1>Sporty</h1>
    </div>
    <div class="container__profili__inside" *ngIf="preselection == 0">
        <div class="container__profili__inside__1">
            <h1 class="mediumbig__text">Ciao </h1>
            <h1 class="mediumbig__text">{{this.userData.nome}}</h1>
            <h2 style="font-size: 2rem; color:var(--sporty-blue)">Chi è l'atleta oggi?</h2>
        </div>
        <div class="container__profili__inside__2">
            <button class="button__blue" *ngFor="let atleta of atleti" [ngClass]="{'circlebutton': atleta.atletaid == this.idsporty, 'circlebutton__little' :  atleta.atletaid != this.idsporty}" (click)="saveProfilo(atleta.atletaid); preselection = 1">
                {{atleta.nome}} {{atleta.cognome}} 
            </button>
            <div>
                <button style="border: none; background:transparent" (click)="preselection = 2">
                    <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M21.65 38.85v-12.5H9.15v-4.7h12.5V9.15h4.7v12.5h12.5v4.7h-12.5v12.5Z"/></svg>
                </button>
            </div>
        </div>
        <div class="container__profili__inside__3">
            <a (click)="logout()" style="cursor: pointer;">Torna alla home</a>
        </div>
    </div>
    <div class="container__profili__inside" *ngIf="preselection == 2">
        <div class="container__profili__inside__1">
            <h1 class="mediumbig__text">Creazione</h1>
            <h1 class="mediumbig__text">nuovo atleta</h1>
            <h2 style="font-size: 2rem; color:var(--sporty-blue)">Compila i campi</h2>
        </div>
        <div class="input__container container__profili__inside__2">
            <input #val1 class="input__style" type="text" placeholder="Nome">
            <input #val2 class="input__style" type="text" placeholder="Cognome">
            <input #val3 class="input__style" type="text" placeholder="Email">
            <input #val4 class="input__style" type="date" placeholder="Data di nascita">
            <input #val5 class="input__style" type="text" placeholder="Luogo di nascita">
            <input #val6 class="input__style" type="text" placeholder="Codice fiscale">
            <input #val7 class="input__style" type="text" placeholder="Residenza">
            <input #val8 class="input__style" type="text" placeholder="Telefono">
        </div>
        <div class="container__profili__inside__3">
            <div style="text-align: center">
                <button class="button button__blue" (click)="creaAtleta(val1.value,val2.value,val3.value,val4.value,val5.value,val6.value,val7.value,val8.value)">Salva ed esci</button>
            </div>
            <div style="height: 2vw;">
                <a class="approved" *ngIf="this.message == 1">atleta creato con successo</a>
                <a class="error" *ngIf="this.message == 2">Nome assente</a>
                <a class="error" *ngIf="this.message == 3">Cognome assente</a>
                <a class="error" *ngIf="this.message == 4">Nome e Cognome assente</a>
            </div>
            <a (click)="preselection = 0" style="cursor: pointer">Torna indietro</a>
        </div>
    </div>
</div>
<div class="container__profilo" *ngIf="this.userData != '' && preselection == 1">
    <div class="container__profilo__navbar">
        <div class="barralattotal">
            <div class="app">
                <div id="sidenav" class="sidenav is-collapsed">
                    <header class="sidenav__header header">
                        <svg (click)="toggle()" xmlns="http://www.w3.org/2000/svg" height="40" width="40"><path d="M8.083 22.833q-1.166 0-1.979-.833-.812-.833-.812-2t.833-2q.833-.833 2-.833t2 .833q.833.833.833 2t-.833 2q-.833.833-2.042.833Zm11.917 0q-1.167 0-2-.833t-.833-2q0-1.167.833-2t2-.833q1.167 0 2 .833t.833 2q0 1.167-.833 2t-2 .833Zm11.875 0q-1.167 0-2-.833t-.833-2q0-1.167.833-2t2.042-.833q1.166 0 1.979.833.812.833.812 2t-.833 2q-.833.833-2 .833Z"/></svg>
                        <!--                         <button class="sidenav__button" aria-label="Expand" (click)="toggle()">
                                <span class="sidenav__button-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20"><path d="m8 18-8-8 8-8 1.417 1.417L2.833 10l6.584 6.583Z"/></svg>
                                </span>
                            </button> -->
                    </header>
                    <nav class="sidenav__nav nav">
                        <ul class="nav__list">
                            <li class="nav__item is-active">
                                <button aria-label="logout" title="logout" (click)="logout()" class="nav__button">
                                        <span class="nav__icon">
                                            <svg class="mi0" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M5 21q-.825 0-1.413-.587Q3 19.825 3 19V5q0-.825.587-1.413Q4.175 3 5 3h7v2H5v14h7v2Zm11-4-1.375-1.45 2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5Z"/></svg>
                                        </span>
                                        <span class="nav__label">logout</span>
                                    </button>
                            </li>
                            <li class="nav__item">
                                <button aria-label="Home" title="Home" (click)="changesection(0); collapse()" class="nav__button">
                                        <span class="nav__icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M4 21V9l8-6 8 6v12h-6v-7h-4v7Z"/></svg>
                                        </span>	
                                        <span class="nav__label">Home</span>
                                    </button>
                            </li>
                            <li class="nav__item">
                                <button aria-label="Diario" title="Diario" (click)="changesection(1); collapse()" class="nav__button">
                                        <span class="nav__icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M12 21v-2.125l5.3-5.3 2.125 2.125-5.3 5.3Zm-9-5v-2h7v2Zm17.125-1L18 12.875l.725-.725q.275-.275.7-.275.425 0 .7.275l.725.725q.275.275.275.7 0 .425-.275.7ZM3 12v-2h11v2Zm0-4V6h11v2Z"/></svg>
                                        </span>
                                        <span class="nav__label">Diario</span>
                                    </button>
                            </li>
                            <li class="nav__item" *ngIf="this.userData.accountType != 0">
                                <button aria-label="Allenamenti" title="Allenamenti" (click)="changesection(2); collapse()" class="nav__button">
                                        <span class="nav__icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M0 18v-1.575q0-1.1 1.1-1.763Q2.2 14 4 14q.325 0 .613.025.287.025.562.075-.35.5-.513 1.075Q4.5 15.75 4.5 16.4V18Zm6 0v-1.6q0-1.625 1.663-2.638Q9.325 12.75 12 12.75q2.7 0 4.35 1.012Q18 14.775 18 16.4V18Zm13.5 0v-1.6q0-.65-.175-1.225-.175-.575-.5-1.075.275-.05.563-.075Q19.675 14 20 14q1.8 0 2.9.662 1.1.663 1.1 1.763V18ZM4 13q-.825 0-1.412-.588Q2 11.825 2 11t.588-1.413Q3.175 9 4 9t1.412.587Q6 10.175 6 11q0 .825-.588 1.412Q4.825 13 4 13Zm16 0q-.825 0-1.413-.588Q18 11.825 18 11t.587-1.413Q19.175 9 20 9q.825 0 1.413.587Q22 10.175 22 11q0 .825-.587 1.412Q20.825 13 20 13Zm-8-1q-1.25 0-2.125-.875T9 9q0-1.25.875-2.125T12 6q1.25 0 2.125.875T15 9q0 1.25-.875 2.125T12 12Z"/></svg>
                                        </span>
                                        <span class="nav__label">Allenamenti</span>
                                    </button>
                            </li>
                            <li class="nav__item" *ngIf="this.userData.accountType != 0">
                                <button aria-label="Squadra" title="Squadra" (click)="changesection(3); collapse()" class="nav__button">
                                        <span class="nav__icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M13 9V3h8v6ZM3 13V3h8v10Zm10 8V11h8v10ZM3 21v-6h8v6Z"/></svg>
                                        </span>	
                                        <span class="nav__label">Squadra</span>
                                    </button>
                            </li>
                        </ul>
                        <div class="nav__divider"></div>
                        <ul class="nav__list">
                            <li class="nav__item mi1">
                                <button aria-label="Impostazioni" title="Impostazioni" (click)="changesection(4)" class="nav__button">
                                        <span class="nav__icon">
                                            <svg class="mi1" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m9.25 22-.4-3.2q-.325-.125-.612-.3-.288-.175-.563-.375L4.7 19.375l-2.75-4.75 2.575-1.95Q4.5 12.5 4.5 12.337v-.675q0-.162.025-.337L1.95 9.375l2.75-4.75 2.975 1.25q.275-.2.575-.375.3-.175.6-.3l.4-3.2h5.5l.4 3.2q.325.125.613.3.287.175.562.375l2.975-1.25 2.75 4.75-2.575 1.95q.025.175.025.337v.675q0 .163-.05.338l2.575 1.95-2.75 4.75-2.95-1.25q-.275.2-.575.375-.3.175-.6.3l-.4 3.2Zm2.8-6.5q1.45 0 2.475-1.025Q15.55 13.45 15.55 12q0-1.45-1.025-2.475Q13.5 8.5 12.05 8.5q-1.475 0-2.488 1.025Q8.55 10.55 8.55 12q0 1.45 1.012 2.475Q10.575 15.5 12.05 15.5Z"/></svg>
                                        </span>
                                        <span class="nav__label">Impostazioni</span>
                                    </button>
                            </li>
                        </ul>
                    </nav>
                    <div class="container2">
                        <div>
                            <a>Sporty</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="barralattotal2">
            <button class="sidenav__button" aria-label="Expand" (click)="toggle()">
                    <span class="sidenav__button-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20"><path d="M3 14.5V13h14v1.5Zm0-3.75v-1.5h14v1.5ZM3 7V5.5h14V7Z"/></svg>
                    </span>
                </button>
            <div class="app2" id="menuphone">
                <div id="sidenav" class="sidenav">
                    <header class="sidenav__header header">
                        <span class="header__text">Menù</span>
                        <button class="sidenav__button" aria-label="Expand" (click)="toggle()">
                                <span class="sidenav__button-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20"><path d="m8 18-8-8 8-8 1.417 1.417L2.833 10l6.584 6.583Z"/></svg>
                                </span>
                            </button>
                    </header>
                    <nav class="sidenav__nav nav">
                        <ul class="nav__list">
                            <li class="nav__item is-active">
                                <button aria-label="logout" title="logout" (click)="logout()" class="nav__button">
                                        <span class="nav__icon">
                                            <svg class="mi0" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M5 21q-.825 0-1.413-.587Q3 19.825 3 19V5q0-.825.587-1.413Q4.175 3 5 3h7v2H5v14h7v2Zm11-4-1.375-1.45 2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5Z"/></svg>
                                        </span>
                                        <span class="nav__label">logout</span>
                                    </button>
                            </li>
                            <li class="nav__item">
                                <button aria-label="Home" title="Home" (click)="changesection(0); collapse()" class="nav__button">
                                        <span class="nav__icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M4 21V9l8-6 8 6v12h-6v-7h-4v7Z"/></svg>
                                        </span>	
                                        <span class="nav__label">Home</span>
                                    </button>
                            </li>
                            <li class="nav__item">
                                <button aria-label="Diario" title="Diario" (click)="changesection(1); collapse()" class="nav__button">
                                        <span class="nav__icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M12 21v-2.125l5.3-5.3 2.125 2.125-5.3 5.3Zm-9-5v-2h7v2Zm17.125-1L18 12.875l.725-.725q.275-.275.7-.275.425 0 .7.275l.725.725q.275.275.275.7 0 .425-.275.7ZM3 12v-2h11v2Zm0-4V6h11v2Z"/></svg>
                                        </span>
                                        <span class="nav__label">Diario</span>
                                    </button>
                            </li>
                            <li class="nav__item" *ngIf="this.userData.accountType != 0">
                                <button aria-label="Allenamenti" title="Allenamenti" (click)="changesection(2); collapse()" class="nav__button">
                                        <span class="nav__icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M0 18v-1.575q0-1.1 1.1-1.763Q2.2 14 4 14q.325 0 .613.025.287.025.562.075-.35.5-.513 1.075Q4.5 15.75 4.5 16.4V18Zm6 0v-1.6q0-1.625 1.663-2.638Q9.325 12.75 12 12.75q2.7 0 4.35 1.012Q18 14.775 18 16.4V18Zm13.5 0v-1.6q0-.65-.175-1.225-.175-.575-.5-1.075.275-.05.563-.075Q19.675 14 20 14q1.8 0 2.9.662 1.1.663 1.1 1.763V18ZM4 13q-.825 0-1.412-.588Q2 11.825 2 11t.588-1.413Q3.175 9 4 9t1.412.587Q6 10.175 6 11q0 .825-.588 1.412Q4.825 13 4 13Zm16 0q-.825 0-1.413-.588Q18 11.825 18 11t.587-1.413Q19.175 9 20 9q.825 0 1.413.587Q22 10.175 22 11q0 .825-.587 1.412Q20.825 13 20 13Zm-8-1q-1.25 0-2.125-.875T9 9q0-1.25.875-2.125T12 6q1.25 0 2.125.875T15 9q0 1.25-.875 2.125T12 12Z"/></svg>
                                        </span>
                                        <span class="nav__label">Allenamenti</span>
                                    </button>
                            </li>
                            <li class="nav__item" *ngIf="this.userData.accountType != 0">
                                <button aria-label="Squadra" title="Squadra" (click)="changesection(3); collapse()" class="nav__button">
                                        <span class="nav__icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M13 9V3h8v6ZM3 13V3h8v10Zm10 8V11h8v10ZM3 21v-6h8v6Z"/></svg>
                                        </span>	
                                        <span class="nav__label">Squadra</span>
                                    </button>
                            </li>
                        </ul>
                        <div class="nav__divider"></div>
                        <ul class="nav__list">
                            <li class="nav__item mi1">
                                <button aria-label="Impostazioni" title="Impostazioni" (click)="changesection(4)" class="nav__button">
                                    <span class="nav__icon">
                                        <svg class="mi1" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m9.25 22-.4-3.2q-.325-.125-.612-.3-.288-.175-.563-.375L4.7 19.375l-2.75-4.75 2.575-1.95Q4.5 12.5 4.5 12.337v-.675q0-.162.025-.337L1.95 9.375l2.75-4.75 2.975 1.25q.275-.2.575-.375.3-.175.6-.3l.4-3.2h5.5l.4 3.2q.325.125.613.3.287.175.562.375l2.975-1.25 2.75 4.75-2.575 1.95q.025.175.025.337v.675q0 .163-.05.338l2.575 1.95-2.75 4.75-2.95-1.25q-.275.2-.575.375-.3.175-.6.3l-.4 3.2Zm2.8-6.5q1.45 0 2.475-1.025Q15.55 13.45 15.55 12q0-1.45-1.025-2.475Q13.5 8.5 12.05 8.5q-1.475 0-2.488 1.025Q8.55 10.55 8.55 12q0 1.45 1.012 2.475Q10.575 15.5 12.05 15.5Z"/></svg>
                                    </span>
                                    <span class="nav__label">Impostazioni</span>
                                </button>
                            </li>
                        </ul>
                    </nav>
                    <div class="container2">
                        <div>
                            <a>Sporty</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container__profilo__inside">
        <app-home-container (scegliSquadra)="this.section = $event" (changeProfilevent)="changeProfile($event)" [profileData]="profileData" *ngIf="this.section == 0"></app-home-container>
        <app-diario [userData]="userData" *ngIf="this.section == 1"></app-diario>
        <app-allenatore-container [userData]="userData" *ngIf="this.section == 2"></app-allenatore-container>
        <app-squadra-container [userData]="userData" (sectionEmitter)="changeSection($event)" *ngIf="this.section == 3"></app-squadra-container>
        <app-impostazioni [userData]="userData" *ngIf="this.section == 4"></app-impostazioni>
        <app-iscrizione *ngIf="this.section == 5" [userData]="userData" [squadData]="squadraData"></app-iscrizione>
    </div>
</div>