.container__iscrizione__inside {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: min-content;
    grid-template-areas: ". .";
}

.container {
    padding: 2vw;
}

.sez__blue {
    color: var(--sporty-blue) !important;
}

.section__menu {
    margin: 1vw 0vw 0vw 0vw;
}

.section__menu div {
    display: flex;
    align-items: center;
    align-content: center;
}

svg {
    opacity: 0;
    margin-left: 10px;
}

.svg__approve {
    fill: var(--approved) !important;
    opacity: 1;
}

.svg__approve:hover {
    fill: var(--approved) !important;
    opacity: 1;
}

.stagione__scelta {
    border: 2px solid var(--sporty-blue);
}

.container__stagioni {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . .";
}

.container__scroll {
    overflow-y: scroll;
    height: 600px;
}

.button__container {
    margin-right: 4cm;
    bottom: 0;
    height: 30px;
    border-radius: 3rem;
    margin: 2vw;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--text-white) !important;
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
}