<div id="iscrizione__popup" class="slide__container">
  <div>
    <div>
      <button (click)="this.sc.centrovar = 2" class="button">Chiudi</button>
      <div class="iscrizione__container">
        <div class="container">
          <h1 class="big__h1">Iscrizione a</h1>
          <h1 class="big__h1">{{ this.squadData.nomesquadra }}</h1>
          <!-- <a>Per poterti iscrivere a {{this.squadraScelta.nomesquadra}} devi inserire tutti i tuoi dati corretti, caricare i file richiesti e accettare i documenti della squadra</a> -->
          <div class="section__menu">
            <div>
              <svg [ngClass]="{ 'svg__approve ': this.completamento[0] == 1 }" xmlns="http://www.w3.org/2000/svg"
                height="24" width="24">
                <path
                  d="m10.525 17.1 7.425-7.425-2.075-2.1-5.35 5.35-2.55-2.55-2.075 2.1ZM12 22.85q-2.275 0-4.25-.85t-3.438-2.312Q2.85 18.225 2 16.25q-.85-1.975-.85-4.25T2 7.75q.85-1.975 2.312-3.438Q5.775 2.85 7.75 2q1.975-.85 4.25-.85t4.25.85q1.975.85 3.438 2.312Q21.15 5.775 22 7.75q.85 1.975.85 4.25T22 16.25q-.85 1.975-2.312 3.438Q18.225 21.15 16.25 22q-1.975.85-4.25.85Z" />
              </svg>
              <h3 (click)="this.sezione_completamento = 0"
                [ngClass]="{ 'sez__blue ': this.sezione_completamento === 0 }">
                Stagione
              </h3>
            </div>
            <div>
              <svg [ngClass]="{ 'svg__approve ': this.completamento[1] == 1 }" xmlns="http://www.w3.org/2000/svg"
                height="24" width="24">
                <path
                  d="m10.525 17.1 7.425-7.425-2.075-2.1-5.35 5.35-2.55-2.55-2.075 2.1ZM12 22.85q-2.275 0-4.25-.85t-3.438-2.312Q2.85 18.225 2 16.25q-.85-1.975-.85-4.25T2 7.75q.85-1.975 2.312-3.438Q5.775 2.85 7.75 2q1.975-.85 4.25-.85t4.25.85q1.975.85 3.438 2.312Q21.15 5.775 22 7.75q.85 1.975.85 4.25T22 16.25q-.85 1.975-2.312 3.438Q18.225 21.15 16.25 22q-1.975.85-4.25.85Z" />
              </svg>
              <h3 (click)="this.sezione_completamento = 1"
                [ngClass]="{ 'sez__blue ': this.sezione_completamento === 1 }">
                Dati iscrizione
              </h3>
            </div>
            <div>
              <svg [ngClass]="{ 'svg__approve ': this.completamento[2] == 1 }" xmlns="http://www.w3.org/2000/svg"
                height="24" width="24">
                <path
                  d="m10.525 17.1 7.425-7.425-2.075-2.1-5.35 5.35-2.55-2.55-2.075 2.1ZM12 22.85q-2.275 0-4.25-.85t-3.438-2.312Q2.85 18.225 2 16.25q-.85-1.975-.85-4.25T2 7.75q.85-1.975 2.312-3.438Q5.775 2.85 7.75 2q1.975-.85 4.25-.85t4.25.85q1.975.85 3.438 2.312Q21.15 5.775 22 7.75q.85 1.975.85 4.25T22 16.25q-.85 1.975-2.312 3.438Q18.225 21.15 16.25 22q-1.975.85-4.25.85Z" />
              </svg>
              <h3 (click)="this.sezione_completamento = 2"
                [ngClass]="{ 'sez__blue ': this.sezione_completamento === 2 }">
                Scelta corso
              </h3>
            </div>
            <div>
              <svg [ngClass]="{ 'svg__approve ': this.completamento[3] == 1 }" xmlns="http://www.w3.org/2000/svg"
                height="24" width="24">
                <path
                  d="m10.525 17.1 7.425-7.425-2.075-2.1-5.35 5.35-2.55-2.55-2.075 2.1ZM12 22.85q-2.275 0-4.25-.85t-3.438-2.312Q2.85 18.225 2 16.25q-.85-1.975-.85-4.25T2 7.75q.85-1.975 2.312-3.438Q5.775 2.85 7.75 2q1.975-.85 4.25-.85t4.25.85q1.975.85 3.438 2.312Q21.15 5.775 22 7.75q.85 1.975.85 4.25T22 16.25q-.85 1.975-2.312 3.438Q18.225 21.15 16.25 22q-1.975.85-4.25.85Z" />
              </svg>
              <h3 (click)="this.sezione_completamento = 3"
                [ngClass]="{ 'sez__blue ': this.sezione_completamento === 3 }">
                Documenti
              </h3>
            </div>
            <div>
              <svg [ngClass]="{ 'svg__approve ': this.completamento[4] == 1 }" xmlns="http://www.w3.org/2000/svg"
                height="24" width="24">
                <path
                  d="m10.525 17.1 7.425-7.425-2.075-2.1-5.35 5.35-2.55-2.55-2.075 2.1ZM12 22.85q-2.275 0-4.25-.85t-3.438-2.312Q2.85 18.225 2 16.25q-.85-1.975-.85-4.25T2 7.75q.85-1.975 2.312-3.438Q5.775 2.85 7.75 2q1.975-.85 4.25-.85t4.25.85q1.975.85 3.438 2.312Q21.15 5.775 22 7.75q.85 1.975.85 4.25T22 16.25q-.85 1.975-2.312 3.438Q18.225 21.15 16.25 22q-1.975.85-4.25.85Z" />
              </svg>
              <h3 (click)="this.sezione_completamento = 4"
                [ngClass]="{ 'sez__blue ': this.sezione_completamento === 4 }">
                Immagini
              </h3>
            </div>
          </div>
        </div>
        <div>
          <div *ngIf="this.sezione_completamento == 0">
            <h2>Scegli la stagione</h2>
            <div class="container__stagioni container__scroll__iscrizione">
              <div class="littlecard" *ngFor="let stagione of this.stagioni; let i = index" 
              [ngClass]="{ stagione__scelta: stagione.id == stagione__scelta}" 
              (click)="takeStagione(stagione.id); takeStagione__data__inside(stagione.id); stagione__scelta = stagione.id">
                <h3>{{ stagione.nomestagione }}</h3>
                <div>
                  <div>
                    <span>Data inizio</span><br />
                    <a>{{ stagione.datainizio }}</a>
                  </div>
                  <div>
                    <span>Data fine</span><br />
                    <a>{{ stagione.datafine }}</a>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="button__container">
                <button class="button button__blue" (click)="
                    this.completamento[0] = 1; this.sezione_completamento = 1
                  ">
                  Avanti
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="this.sezione_completamento == 1">
            <div class="input__container">
              <div>
                <h3>Nome</h3>
                <input #nome value="{{ this.userData.nome }}" class="input__style" type="text" placeholder="Nome" />
              </div>
              <div>
                <h3>Cognome</h3>
                <input #cognome value="{{ this.userData.cognome }}" class="input__style" type="text"
                  placeholder="Cognome" />
              </div>
              <div>
                <h3>Email</h3>
                <input #email value="{{ this.userData.email }}" class="input__style" type="text" placeholder="Email" />
              </div>
              <div>
                <h3>Data di nascità</h3>
                <input #datadinascita value="{{ this.userData.datadinascita }}" class="input__style" type="date"
                  placeholder="Data di nascita" />
              </div>
              <div>
                <h3>Luogo di nascità</h3>
                <input #luogodinascita value="{{ this.userData.luogodinascita }}" class="input__style" type="text"
                  placeholder="Luogo di nascita" />
              </div>
              <div>
                <h3>Codice fiscale</h3>
                <input #codicefiscale value="{{ this.userData.codicefiscale }}" class="input__style" type="text"
                  placeholder="Codice fiscale" />
              </div>
              <div>
                <h3>Residenza</h3>
                <input #residenza value="{{ this.userData.residenza }}" class="input__style" type="text"
                  placeholder="Residenza" />
              </div>
              <div>
                <h3>Telefono</h3>
                <input #telefono value="{{ this.userData.telefono }}" class="input__style" type="text"
                  placeholder="Telefono" />
              </div>
            </div>
            <div>
              <div class="button__container">
                <button class="button button__blue" (click)="this.sezione_completamento = 0">
                  Indietro
                </button>
                <button class="button button__blue" (click)="
                    this.completamento[1] = 1; this.sezione_completamento = 2
                  ">
                  Avanti
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="this.sezione_completamento == 2">
            <div class="container__scroll__iscrizione">
              <div *ngFor="let corso of this.corsi__scelti; let i = index" (click)="this.corso__scelta = corso.id">
                <div class="littlecard" [ngClass]="{ stagione__scelta: corso.id == corso__scelta }">
                  <div>
                    <h3>Titolo</h3>
                    <a>{{ corso.titolo }}</a>
                  </div>
                  <div>
                    <h3>Descrizione</h3>
                    <a>{{ corso.descrizione }}</a>
                  </div>
                  <div>
                    <h3>Prezzo</h3>
                    <a>{{ corso.prezzo }}</a>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="button__container">
                <button class="button button__blue" (click)="this.sezione_completamento = 1">
                  Indietro
                </button>
                <button class="button button__blue" (click)="
                    this.completamento[2] = 1;
                    this.sezione_completamento = 3;
                  ">
                  Avanti
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="this.sezione_completamento == 3;">
            <div class="container__scroll__iscrizione">
              <div *ngFor="let documento of this.documenti__scelti; let i = index">
                <div class="littlecard">
                  <div (click)="open__doc(documento.id)">
                    <h3>Titolo</h3>
                    <a>{{ documento.titolo }}</a>
                  </div>
                  <div class="open__doc" id="open__doc__{{ documento.id }}" style="display: none">
                    <h2>{{ documento.titolo }}</h2>
                    <div>
                      <p>
                        {{ documento.descrizione }}
                      </p>
                    </div>
                    <div class="doc__approvazione" style="display: flex;">
                      <a>Approvo</a><button id="{{documento.id}}" class="button" style="height: 0.5cm; width: 0.5cm; border-radius: 1rem; border: 1px solid var(--text) !important;" (click)="addCl(documento.id)"></button>
                      
<!--                   <div style="display: none;">
                        <input type="checkbox"  name="{{documento.id}}" id="{{documento.id}}" style="display: none" />
                        <label for="{{ documento.id }}" (click)="addCl(documento.id)" class="check">
                          <svg width="18px" height="18px" viewBox="0 0 18 18">
                            <path
                              d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z">
                            </path>
                            <polyline points="1 9 7 14 15 4"></polyline>
                          </svg>
                        </label>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="button__container">
                <button class="button button__blue" (click)="this.sezione_completamento = 2">
                  Indietro
                </button>
                <button class="button button__blue" (click)="
                    this.completamento[3] = 1; this.sezione_completamento = 4; saveIscrizione()">
                  Salva e vai avanti
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="this.sezione_completamento == 4">
            <div class="container__scroll__iscrizione">
              <div *ngFor="let cartella of this.galleria__scelti; let i = index"
                (click)="take__galleria__data(cartella.id)" (click)="oiFun(cartella.id)">
                <div class="littlecard" style="display: flex">
                  <div style="margin: 4vw">
                    <h3>Titolo</h3>
                    <h4>{{ cartella.titolo }}</h4>
                    <h4>Creato il {{ cartella.creazione }}</h4>
                    <h4>{{ this.uis.uploadstatus }}</h4>
                    <h4>{{ cartella.immagini+'.'+this.userData.atletaid}}</h4>
                  </div>
                  <div style="margin: 4vw"*ngIf="open_img == cartella.id">
                    <div class="image-upload-container">
                      <input class="input__style" type="file" (change)="onFileSelected($event)" />

                      <div *ngIf="imageUrl" class="image-preview">
                        <img *ngIf="this.imageUrl" [src]="this.imageUrl" />
                      </div>
                      <div style="display: flex">
                        <button class="button button__blue" (click)="uploadFile(cartella.id)">
                          Carica immagine
                        </button>
                        <button class="button button__red" (click)="this.selectedFile = null; this.imageUrl = ''">
                          Elimina
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="button__container">
                <button class="button button__blue" (click)="this.sezione_completamento = 3">
                  Indietro
                </button>
                <button class="button button__blue"  (click)="this.sc.centrovar = 2">
                  Esci e salva
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>