<div>
    <div class="container__iscrizione__inside">
        <div class="container__profili__inside__1 container">
            <h1 class="big__h1">Iscrizione a</h1>
            <h1 class="big__h1">{{this.squadraDataLocale.nomesquadra}}</h1>
            <a>Per poterti iscrivere a {{this.squadraDataLocale.nomesquadra}} devi inserire tutti i tuoi dati corretti, caricare i file richiesti e accettare i documenti della squadra</a>
            <div class="section__menu">
                <div>
                    <h3 (click)="this.sezione_iscrizione = 0" [ngClass]="{'sez__blue ': this.sezione_iscrizione === 0}">Stagione</h3>
                    <svg [ngClass]="{'svg__approve ': this.prova[0] == 1}" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m10.525 17.1 7.425-7.425-2.075-2.1-5.35 5.35-2.55-2.55-2.075 2.1ZM12 22.85q-2.275 0-4.25-.85t-3.438-2.312Q2.85 18.225 2 16.25q-.85-1.975-.85-4.25T2 7.75q.85-1.975 2.312-3.438Q5.775 2.85 7.75 2q1.975-.85 4.25-.85t4.25.85q1.975.85 3.438 2.312Q21.15 5.775 22 7.75q.85 1.975.85 4.25T22 16.25q-.85 1.975-2.312 3.438Q18.225 21.15 16.25 22q-1.975.85-4.25.85Z"/></svg>
                </div>
                <div>
                    <h3 (click)="this.sezione_iscrizione = 1" [ngClass]="{'sez__blue ': this.sezione_iscrizione === 1}">Dati iscrizione</h3>
                    <svg [ngClass]="{'svg__approve ': this.prova[1] == 1}" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m10.525 17.1 7.425-7.425-2.075-2.1-5.35 5.35-2.55-2.55-2.075 2.1ZM12 22.85q-2.275 0-4.25-.85t-3.438-2.312Q2.85 18.225 2 16.25q-.85-1.975-.85-4.25T2 7.75q.85-1.975 2.312-3.438Q5.775 2.85 7.75 2q1.975-.85 4.25-.85t4.25.85q1.975.85 3.438 2.312Q21.15 5.775 22 7.75q.85 1.975.85 4.25T22 16.25q-.85 1.975-2.312 3.438Q18.225 21.15 16.25 22q-1.975.85-4.25.85Z"/></svg>
                </div>
                <div>
                    <h3 (click)="this.sezione_iscrizione = 2" [ngClass]="{'sez__blue ': this.sezione_iscrizione === 2}">Scelta corso</h3>
                    <svg [ngClass]="{'svg__approve ': this.prova[2] == 1}" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m10.525 17.1 7.425-7.425-2.075-2.1-5.35 5.35-2.55-2.55-2.075 2.1ZM12 22.85q-2.275 0-4.25-.85t-3.438-2.312Q2.85 18.225 2 16.25q-.85-1.975-.85-4.25T2 7.75q.85-1.975 2.312-3.438Q5.775 2.85 7.75 2q1.975-.85 4.25-.85t4.25.85q1.975.85 3.438 2.312Q21.15 5.775 22 7.75q.85 1.975.85 4.25T22 16.25q-.85 1.975-2.312 3.438Q18.225 21.15 16.25 22q-1.975.85-4.25.85Z"/></svg>
                </div>
                <div>
                    <h3 (click)="this.sezione_iscrizione = 3" [ngClass]="{'sez__blue ': this.sezione_iscrizione === 3}">Immagini</h3>
                    <svg [ngClass]="{'svg__approve ': this.prova[3] == 1}" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m10.525 17.1 7.425-7.425-2.075-2.1-5.35 5.35-2.55-2.55-2.075 2.1ZM12 22.85q-2.275 0-4.25-.85t-3.438-2.312Q2.85 18.225 2 16.25q-.85-1.975-.85-4.25T2 7.75q.85-1.975 2.312-3.438Q5.775 2.85 7.75 2q1.975-.85 4.25-.85t4.25.85q1.975.85 3.438 2.312Q21.15 5.775 22 7.75q.85 1.975.85 4.25T22 16.25q-.85 1.975-2.312 3.438Q18.225 21.15 16.25 22q-1.975.85-4.25.85Z"/></svg>
                </div>
                <div>
                    <h3 (click)="this.sezione_iscrizione = 4" [ngClass]="{'sez__blue ': this.sezione_iscrizione === 4}">Documenti</h3>
                    <svg [ngClass]="{'svg__approve ': this.prova[4] == 1}" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m10.525 17.1 7.425-7.425-2.075-2.1-5.35 5.35-2.55-2.55-2.075 2.1ZM12 22.85q-2.275 0-4.25-.85t-3.438-2.312Q2.85 18.225 2 16.25q-.85-1.975-.85-4.25T2 7.75q.85-1.975 2.312-3.438Q5.775 2.85 7.75 2q1.975-.85 4.25-.85t4.25.85q1.975.85 3.438 2.312Q21.15 5.775 22 7.75q.85 1.975.85 4.25T22 16.25q-.85 1.975-2.312 3.438Q18.225 21.15 16.25 22q-1.975.85-4.25.85Z"/></svg>
                </div>
            </div>
        </div>
        <div class="container__profili__inside__2 container">
            <div *ngIf="this.sezione_iscrizione == 0">
                <h2>Scegli la stagione</h2>
                <div class="container__stagioni">
                    <div class="littlecard" [ngClass]="{'stagione__scelta': this.sceltaStagione == i}" *ngFor="let stagione of this.stagioni; let i = index" (click)="this.stagioneScelta = stagione; this.sceltaStagione = i">
                        <h3>{{stagione.nomestagione}}</h3>
                        <div>
                            <div>
                                <span>Data inizio</span><br>
                                <a>{{stagione.datainizio}}</a>
                            </div>
                            <div>
                                <span>Data fine</span><br>
                                <a>{{stagione.datafine}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="this.sezione_iscrizione == 1 ">
                <div class="input__container">
                    <div>
                        <h3>Nome</h3>
                        <input #nome value="{{this.userData.nome}}" class="input__style" type="text" placeholder="Nome"></div>
                    <div>
                        <h3>Cognome</h3>
                        <input #cognome value="{{this.userData.cognome}}" class="input__style" type="text" placeholder="Cognome"></div>
                    <div>
                        <h3>Email</h3>
                        <input #email value="{{this.userData.email}}" class="input__style" type="text" placeholder="Email"></div>
                    <div>
                        <h3>Data di nascità</h3>
                        <input #datadinascita value="{{this.userData.datadinascita}}" class="input__style" type="date" placeholder="Data di nascita"></div>
                    <div>
                        <h3>Luogo di nascità</h3>
                        <input #luogodinascita value="{{this.userData.luogodinascita}}" class="input__style" type="text" placeholder="Luogo di nascita"></div>
                    <div>
                        <h3>Codice fiscale</h3>
                        <input #codicefiscale value="{{this.userData.codicefiscale}}" class="input__style" type="text" placeholder="Codice fiscale"></div>
                    <div>
                        <h3>Residenza</h3>
                        <input #residenza value="{{this.userData.residenza}}" class="input__style" type="text" placeholder="Residenza"></div>
                    <div>
                        <h3>Telefono</h3>
                        <input #telefono value="{{this.userData.telefono}}" class="input__style" type="text" placeholder="Telefono"></div>
                </div>
            </div>
            <div class="container__scroll" *ngIf="this.sezione_iscrizione == 2">
                <div *ngFor="let corso of this.stagioneScelta.corsi; let i = index">
                    <div class="littlecard" [ngClass]="{'stagione__scelta': this.sceltaCorso == i}" (click)="this.corsoScelto = corso; this.sceltaCorso = i" *ngIf="i != 0">
                        <div>
                            <h3>Titolo</h3>
                            <a>{{corso[0]}}</a></div>
                        <div>
                            <h3>Descrizione</h3>
                            <a>{{corso[1]}}</a></div>
                        <div>
                            <h3>Prezzo</h3>
                            <a>{{corso[2]}}</a></div>
                    </div>
                </div>
            </div>
            <div *ngIf="this.sezione_iscrizione == 3">
                <div></div>
            </div>
            <div *ngIf="this.sezione_iscrizione == 4">

            </div>
        </div>
    </div>
    <div>
        <div class="button__container">
            <button class="button button__blue" *ngIf="this.sezione_iscrizione != 0" (click)="changeSection('indietro')">Indietro</button>
            <button class="button button__blue" (click)="changeSection('avanti')">Avanti</button>
        </div>
    </div>
</div>
<div>
    <a class="error">{{this.messageError}}</a>
</div>