<div class="container__profili__inside__1">
    <h1 class="big__h1">Iscrizione a</h1>
    <h1 class="big__h1">{{this.sc.squadraScelta.nomesquadra}}</h1>
    <p>Per poterti iscrivere a {{this.sc.squadraScelta.nomesquadra}} devi inserire tutti i tuoi dati corretti, caricare i file richiesti e accettare i documenti della squadra</p>
</div>
<div class="container__profili__inside__2">
    <div class="input__container">
        <input #nome value="{{this.sc.userData.nome}}" class="input__style" type="text" placeholder="Nome">
        <input #cognome value="{{this.sc.userData.cognome}}" class="input__style" type="text" placeholder="Cognome">
        <input #email value="{{this.sc.userData.email}}" class="input__style" type="text" placeholder="Email">
        <input #datadinascita value="{{this.sc.userData.datadinascita}}" class="input__style" type="date" placeholder="Data di nascita">
        <input #luogodinascita value="{{this.sc.userData.luogodinascita}}" class="input__style" type="text" placeholder="Luogo di nascita">
        <input #codicefiscale value="{{this.sc.userData.codicefiscale}}" class="input__style" type="text" placeholder="Codice fiscale">
        <input #residenza value="{{this.sc.userData.residenza}}" class="input__style" type="text" placeholder="Residenza">
        <input #telefono value="{{this.sc.userData.telefono}}" class="input__style" type="text" placeholder="Telefono">
    </div>
</div>
<div class="container__profili__inside__3">
    
</div>
<div class="container__profili__inside__4">

</div>
<div class="container__profili__inside__4">

</div>