.sezione__top {
    margin-left: 1vw;
}

.centro {
    display: grid;
    grid-template-columns: auto 18vw;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
}

@media only screen and (max-width: 1000px) {
    .centro {
        grid-template-columns: auto 22vw;
    }
}