<div>
    <div class="sezione__top">
        <div style="display: flex;align-items: center">
            <h1 class="big__h1" (click)="changeProfile()" *ngIf="this.userData != undefined">{{this.userData.nome}} {{this.userData.cognome}}</h1><a style="margin-left: 1vw; cursor:pointer" (click)="changeProfile()">cambia</a>
        </div>
    </div>
    <div class="centro">
        <div class="sezione__sinistra">
            <div class="container">
                <app-attivita></app-attivita>
            </div>
        </div>
        <div class="sezione__destra">
            <div class="container">
                <h2>Iscrizione</h2>
                <div *ngIf="this.userData.squadra != ''">
                    <div>
                        <a>Iscritto a {{this.squadra.nomesquadra}}</a>
                    </div>
                </div>
                <div *ngIf="this.userData.squadra == ''">
                    <button (click)="this.pu.section = 3" class="button button__blue">Iscriviti</button>
                </div>
            </div>
            <div class="container" *ngIf="this.userData.gestore != ''">
                <h2>Gestore</h2>
                <div>
                    <div>
                        <a>Gestore di</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <h2>Bacheca</h2>
                <div *ngIf="this.userData.messaggi != ''">
                    <div>
                        <div><a>Rinnovo iscrizione</a></div>
                        <div><a>Campeggio (22-08-2022)</a></div>
                        <div><a>Iscrizione campeggio</a></div>
                    </div>
                    <div>
                        <a>Clicca per tutte le news</a>
                    </div>
                </div>
                <div *ngIf="this.userData.messaggi == ''">
                    <a>Nessun messaggio</a>
                </div>
            </div>
            <div class="container">
                <h2>Allenamenti</h2>
                <div>
                    <div>
                        <div style="display: none;">
                            <div>
                                <h3>Octavian</h3>
                            </div>
                            <div>
                                <div>
                                    <a>Allenatore: </a><a>Manuel Tomasini</a>
                                </div>
                                <div>
                                    <a>Sport: </a>
                                    <a>Skiroll classico</a>
                                </div>
                                <div>
                                    <a>Note: </a>
                                    <a>2h di skiroll classico con lavori di qualità + veloce di 20min</a>
                                </div>
                                <div>
                                    <a>Totale: </a><a>2h 30min</a>
                                </div>
                            </div>
                            <div>
                                <a>Aggiungi al diario </a>
                            </div>
                        </div>
                        <div>
                            <a>Non ci sono allenamenti</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>