<div>
    <h1>Lista atleti</h1>
    <div style="display: flex;">
        <h2>Stagione: </h2>
        <div >
            <select>
                <option *ngFor="let stagione of this.stagioni" (click)="takeStagioneData(stagione.id)">{{stagione.nomestagione}}</option>
            </select>
        </div>
    </div>
    <div>
        <div *ngFor="let utenti of this.iscritti" >
            <div class="littlecard">
                <h3>{{utenti.nome}} {{utenti.cognome}}</h3>
                <button class="button">Vedi di più</button>
            </div>
        </div>
    </div>
</div>