<div id="superior">
    <div class="toolbar" role="banner">
        <div class="minibar__destra">
            <h3 (click)="section = 0">Sporty</h3>
            <a style="font-size: 0.6rem;">beta</a>
        </div>
        <div class="spacer"></div>
        <div>
            <div>
                <button aria-label="Accedi" rel="noopener" title="Accedi" (click)="section = 1">
                    Accedi
                </button>
            </div>
        </div>


        <!--         <a aria-label="Registrati" rel="noopener" title="Registrati" *ngIf="section == 1">
            Registrati
        </a> -->
    </div>
    <div class="content">
        <div id="section__uno" *ngIf="section == 0">
            <div class="section__descrizione">
                <h1 class="logo__centrale">Sporty</h1>
                <h2 class="descrizione__centrale">Lo sport a portata di click</h2>
                <p class="paragrafo__centrale">
                    Tutto quello di cui una squadra o un singolo atleta abbia bisogno. Gestione team, creazione allenamenti, calendario eventi e molto altro!
                </p>
            </div>
            <div style="align-items: center;">
                <button class="button__blue button__homepage" (click)="section = 2">Provalo gratis</button>
            </div>
        </div>
        <div id="section__due" *ngIf="section == 1">
            <div class="section__descrizione">
                <h1 class="logo__centrale__accedi">Accedi</h1>
                <h3 class="paragrafo__centrale">Inserisci la tua mail e la tua password per accedere al tuo profilo Sporty.
                </h3>
                <p>Prima volta su Sporty? <a (click)="section = 2" style="color: var(--sporty-blue);">Registrati</a></p>
            </div>
            <div style="text-align:center">
                <input class="" placeholder="email" #email type="text">
                <input class="" placeholder="password" #password type="password">
                <div style="margin-bottom: 1vw;">
                    <button class="button button__blue" (click)="accedi(email.value, password.value)">Accedi</button>
                </div>
                <a>Password dimenticata?</a>
                <div class="warning__messages">
                    <a *ngIf="this.errorSI == 1" class="error">C'è stato un errore</a>
                    <a *ngIf="this.errorSI == 2" class="approved">Accesso consentito</a>
                </div>
            </div>
        </div>
        <div id="section__tre" *ngIf="section == 2">
            <div class="section__descrizione">
                <h1 class="logo__centrale__registrati">Registrati</h1>
                <h3 class="paragrafo__centrale">Riempi i campi a lato indicati per poter creare il tuo account Sporty.</h3>
                <p>Hai già un account Sporty? <a (click)="section = 1" style="color: var(--sporty-blue);">Accedi</a></p>
            </div>
            <div  style="text-align:center">
                <input placeholder="nome" #nome type="text">
                <input placeholder="cognome" #cognome type="text">
                <input placeholder="email" #email type="text">
                <input placeholder="password" #password type="password">
                <button class="button button__blue" (click)="registrati(nome.value, cognome.value,email.value, password.value)">Registrati</button>
                <div class="warning__messages">
                    <a *ngIf="this.errorSU == 1" class="error">La password non va bene</a>
                    <a *ngIf="this.errorSU == 2" class="error">Email già in uso</a>
                    <a *ngIf="this.errorSU == 3" class="error">C'è stato un errore</a>
                    <a *ngIf="this.errorSU == 4" class="approved">Account creato con successo</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <footer>
            <div class="footer__Pt1">
                <div class="f_c1">
                    <svg width="130" height="100">
                            <text x="50%" y="50%" style="font-size: 220%; font-weight: 900" dominant-baseline="middle" text-anchor="middle">Sporty</text>
                          </svg>
                </div>
                <div class="f_c2">
                    <h2>Aiuto</h2>
                    <div><a>Supporto Sporty</a></div>
                </div>
                <div class="f_c3">
                    <h2>Grow together</h2>
                    <div><a>Aiutaci a migliorare</a></div>
                    <div><a>Problematiche con l'app</a></div>
                </div>
            </div>
            <div class="f2" id="soc" style="text-align: center;">
                <svg class="octimal" width="200" height="100">
                    <text class="octitxt1" x="50%" y="70%" style="font-family: 'Montserrat', sans-serif" dominant-baseline="middle" text-anchor="middle" (click)="octimal()">OCTIMAL</text>    
                </svg>
            </div>
        </footer>
    </div>
</div>