<div>
    <div class="card__fit card" *ngFor="let stagione of this.stagioni">
        <h2>{{stagione.nomestagione}}</h2>
        <div>
            <div>
                <h3>Data inizio</h3>
                <a>{{stagione.datainizio}}</a>
            </div>
            <div>
                <h3>Data fine</h3>
                <a>{{stagione.datafine}}</a>
            </div>
        </div>
        <div>
            <a>{{stagione.iscrittistagione}}</a>
        </div>
    </div>
</div>
<div>
    <h1></h1>
    <div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
    </div>
</div>