<div class="container__cards" *ngIf="this.stagioniSection == 0">
    <div class="card" style="
    align-items: center;
    justify-content: center;
    display: flex;">
        <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M21.65 38.85v-12.5H9.15v-4.7h12.5V9.15h4.7v12.5h12.5v4.7h-12.5v12.5Z"/></svg>

    </div>
    <div class="card" style="cursor: pointer;" *ngFor="let stagione of this.stagioni" (click)="this.stagioneData = stagione;this.stagioniSection = 1;">
        <h2>{{stagione.nomestagione}}</h2>
        <div>
            <div>
                <h3>Data inizio</h3>
                <a>{{stagione.datainizio}}</a>
            </div>
            <div>
                <h3>Data fine</h3>
                <a>{{stagione.datafine}}</a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="this.stagioniSection == 1">
    <div class="stagione__inside__up card">
        <div>
            <h1>Nome stagione</h1>
            <input class="input__style" type="text" placeholder="{{this.stagioneData.nomestagione}}" value="{{this.stagioneData.nomestagione}}">
        </div>
        <div>
            <h2>Data inizio</h2>
            <input class="input__style" type="date" placeholder="{{this.stagioneData.datainizio}}" value="{{this.stagioneData.datainizio}}">
        </div>
        <div>
            <h2>Data fine</h2>
            <input class="input__style" type="date" placeholder="{{this.stagioneData.datafine}}" value="{{this.stagioneData.datafine}}">
        </div>
    </div>
    <div class="container__stagione">
        <div class="container__stagione__section__one card">
            <div class="container__stagione__section__inside__superiore">
                <h2>Documenti</h2>
                <p>Documenti che atleta deve leggere o accettare</p>
            </div>
            <div class="container__stagione__section__inside cssi__docs">
                <div>
                    <div class="card" style="
                    align-items: center;
                    justify-content: center;
                    display: flex;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M21.65 38.85v-12.5H9.15v-4.7h12.5V9.15h4.7v12.5h12.5v4.7h-12.5v12.5Z"/></svg>

                    </div>
                </div>
                <div class="littlecard" (click)="this.popup = 1; blockBodyScroll()">
                    <span>Documento attività</span>
                </div>
                <div class="popup" *ngIf="this.popup == 1">
                    <div class="popup__inside">
                        <textarea class="input__style textareapopup">
                                {{this.stagioneData.documentoattivita}}
                            </textarea>
                    </div>
                    <div (click)="this.popup = 0; blockBodyScroll()" class="popup__esci">

                    </div>
                </div>
                <div class="littlecard" (click)="this.popup = 2; blockBodyScroll()">
                    <span>Documento dati</span>
                </div>
                <div class="popup" *ngIf="this.popup == 2">
                    <div class="popup__inside">
                        <textarea class="input__style textareapopup">
                                {{this.stagioneData.documentodati}}
                            </textarea>
                    </div>
                    <div (click)="this.popup = 0; blockBodyScroll()" class="popup__esci">

                    </div>
                </div>
                <div class="littlecard" (click)="this.popup = 3; blockBodyScroll()">
                    <span>Documento immagini</span>
                </div>
                <div class="popup" *ngIf="this.popup == 3">
                    <div class="popup__inside">
                        <textarea class="input__style textareapopup">
                                {{this.stagioneData.documentoimmagini}}
                            </textarea>
                    </div>
                    <div (click)="this.popup = 0; blockBodyScroll()" class="popup__esci">

                    </div>
                </div>
                <div class="littlecard" *ngFor="let documento of this.stagioneData.documenti">
                    <span>{{documento.titolo}}</span>
                </div>
            </div>
            <div style="text-align: center;margin-top:16px">
                <a *ngIf="this.stagioneData.documenti > 2">scorri in basso</a>
            </div>
        </div>
        <div class="container__stagione__section__two card">
            <div class="container__stagione__section__inside__superiore">
                <h2>Immagini</h2>
                <p>In questa sezione si definiranno le immagini richieste per l'iscrizione alla squadra</p>
                <div>
                    <input placeholder="nome cartella immagini" #imgfolder class="input__style">
                </div>
            </div>
            <div class="container__stagione__section__inside">
                <div class="container__stagione__section__inside cssi__docs">
                    <div>
                        <div class="card" style="
                        align-items: center;
                        justify-content: center;
                        display: flex;">
                            <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M21.65 38.85v-12.5H9.15v-4.7h12.5V9.15h4.7v12.5h12.5v4.7h-12.5v12.5Z"/></svg>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container__stagione__section__three card">
            <div class="container__stagione__section__inside__superiore">
                <div class="corsi__up">
                    <div class="corsi__up__section__uno">
                        <h2>Corsi</h2>
                    </div>
                    <div class="corsi__up__section__two">
                        <button class="button button__blue">Aggiungi</button>
                    </div>
                </div>
                <p>Qui vengono inseriti tutti i corsi che la squadra offre</p>
            </div>

            <div class="container__stagione__section__inside">
                <div style="cursor: pointer;" class="littlecard" *ngFor="let corso of this.stagioneData.corsi; let i=index">
                    <div *ngIf="this.opencorso !=i" (click)="this.opencorso = i">
                        <span>{{corso[0]}}</span>
                    </div>
                    <div *ngIf="this.opencorso == i">
                        <div>
                            <input placeholder="{{corso[0]}}" class="input__style">
                        </div>
                        <div>
                            <textarea class="input__style">{{corso[1]}}</textarea>
                        </div>
                        <div>
                            <input placeholder="{{corso[2]}}" class="input__style">
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: center;margin-top:16px">
                <a>scorri in basso</a>
            </div>
        </div>
    </div>
    <div>
        <button class="button button__blue">Salva e chiudi</button>
    </div>
</div>
<div *ngIf="this.stagioniSection == 2">
    <h1></h1>
    <div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
    </div>
</div>