<div class="container__cards" *ngIf="this.stagioniSection == 0">
    <div class="card" style="
    align-items: center;
    justify-content: center;
    display: flex;" (click)="aggiungi__stagione()">
        <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48">
            <path d="M21.65 38.85v-12.5H9.15v-4.7h12.5V9.15h4.7v12.5h12.5v4.7h-12.5v12.5Z" />
        </svg>

    </div>
    <div class="card" style="cursor: pointer;" *ngFor="let stagione of this.stagioni; let i=index"
        (click)="this.stagioniSection = 1; stagioneTakeData(stagione)">
        <h2>{{stagione.nomestagione}}</h2>
        <div>
            <div>
                <h3>Data inizio</h3>
                <a>{{stagione.datainizio}}</a>
            </div>
            <div>
                <h3>Data fine</h3>
                <a>{{stagione.datafine}}</a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="this.stagioniSection == 1">
    <div>
        <svg (click)="this.stagioniSection = 0; this.stagione(); closeOpen()" xmlns="http://www.w3.org/2000/svg"
            height="24" width="24">
            <path d="M6.4 19 5 17.6l5.6-5.6L5 6.4 6.4 5l5.6 5.6L17.6 5 19 6.4 13.4 12l5.6 5.6-1.4 1.4-5.6-5.6Z" />
        </svg>
    </div>
    <div class="container__stagione">
        <div class="container__stagione__section__menu">
            <button class="button" [ngClass]="{'button__blue': stagionesezione === 2}"
                (click)="stagionesezione = 2; closeOpen()">Corsi</button>
            <button class="button" [ngClass]="{'button__blue': stagionesezione === 3}"
                (click)="stagionesezione = 3; closeOpen()">Documenti</button>
            <button class="button" [ngClass]="{'button__blue': stagionesezione === 1}"
                (click)="stagionesezione = 1; closeOpen()">Immagini</button>
        </div>
        <div class="container__stagione__section__zero card">
            <div>
                <h2>Nome stagione</h2>
                <input class="input__style" type="text" #nomemod placeholder="{{this.stagioneData.nomestagione}}"
                    value="{{this.stagioneData.nomestagione}}">
            </div>
            <div>
                <h2 style="margin-bottom: 0;">Inizio</h2>
                <input class="input__style" type="date" #iniziomod placeholder="{{this.stagioneData.datainizio}}"
                    value="{{this.stagioneData.datainizio}}">
            </div>
            <div>
                <h2 style="margin-bottom: 0;">Fine</h2>
                <input class="input__style" type="date" #finemod placeholder="{{this.stagioneData.datafine}}"
                    value="{{this.stagioneData.datafine}}">
            </div>
        </div>
        <div class="container__stagione__section__one card" *ngIf="stagionesezione == 3">
            <div class="container__stagione__section__inside__superiore">
                <div class="corsi__up">
                    <div class="corsi__up__section__uno">
                        <h2>Documenti</h2>
                    </div>
                    <div class="corsi__up__section__two">
                        <button class="button button__blue" (click)="aggiungiDocumento()">Aggiungi</button>
                    </div>
                </div>
            </div>
            <div class="container__stagione__section__inside">
                <div *ngFor="let documento of this.stagioneData_documenti; let i=index">
                    <div class="littlecard" *ngIf="i != 0">
                        <div style="cursor: pointer;" *ngIf="this.opendoc != i" (click)="this.opendoc = i">
                            <span>{{documento.titolo}}</span>
                        </div>
                        <div *ngIf="this.opendoc == i">
                            <div>
                                <h2>Titolo</h2>
                                <input class="input__style" #titolodocumento value="{{documento.titolo}}">
                                <h2>Descrizione</h2>
                                <textarea class="input__style textareapopup" #descrizionedocumento
                                    placeholder="Aggiungi del contenuto">{{documento.descrizione}}</textarea>
                            </div>
                            <div style="display: flex;">
                                <button class="button__blue button"
                                    (click)="modificaDocumento(documento.id, titolodocumento, descrizionedocumento,'','', documento.creazione, documento.iscritti)">Salva</button>
                                <button class="button__red button" (click)="this.popupelimination = 1">Elimina</button>
                                <div class="popup" id="cssi" *ngIf="this.popupelimination == 1 ">
                                    <div class="popup__inside container">
                                        <h2>Sei sicuro ?</h2>
                                        <div style="display: flex;">
                                            <button class="button__blue button"
                                                (click)="this.eliminationFunction(2, documento.id); blockBodyScroll()">Si</button>
                                            <button class="button__red button" (click)="blockBodyScroll()">No</button>
                                        </div>
                                    </div>
                                    <div (click)="blockBodyScroll(); this.popupelimination = 0" class="popup__esci">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: center;margin-top:16px">
                <a *ngIf="this.stagioneData_documenti.length > 5">scorri in basso</a>
            </div>
        </div>
        <div class="container__stagione__section__one card" *ngIf="stagionesezione == 1">
            <div class="container__stagione__section__inside__superiore">
                <div class="corsi__up">
                    <div class="corsi__up__section__uno">
                        <h2>Immagini</h2>
                    </div>
                    <div class="corsi__up__section__two">
                        <button class="button button__blue" (click)="aggiungiCartella()">Aggiungi</button>
                    </div>
                </div>
            </div>
            <div class="container__stagione__section__inside">
                <div *ngFor="let cartella of this.stagioneData_galleria; let i=index">
                    <div class="littlecard" *ngIf="i != 0">
                        <div style="cursor: pointer;" *ngIf="this.opencartella !=i" (click)="this.opencartella = i">
                            <span>{{cartella.titolo}}</span>
                        </div>
                        <div *ngIf="this.opencartella == i">
                            <div>
                                <h2>Titolo</h2>
                                <input class="input__style" #titolocartella value="{{cartella.titolo}}">
                                <h2>Descrizione</h2>
                                <textarea class="input__style textareapopup" #descrizionecartella
                                    placeholder="Aggiungi del contenuto">{{cartella.descrizione}}</textarea>

                            </div>
                            <div style="display: flex;">
                                <button class="button__blue button"
                                    (click)="modificaCartella(cartella.id,titolocartella,descrizionecartella,cartella)">Salva</button>
                                <button class="button__red button" (click)="this.popupelimination=1">Elimina</button>
                                <div class="popup" id="cssi" *ngIf="this.popupelimination == 1 ">
                                    <div class="popup__inside container">
                                        <h2>Sei sicuro?</h2>
                                        <div style="display: flex;">
                                            <button class="button__blue button"
                                                (click)="this.eliminationFunction(3, cartella.id); blockBodyScroll()">Si</button>
                                            <button class="button__red button"
                                                (click)="blockBodyScroll();this.popupelimination = 0">No</button>
                                        </div>
                                    </div>
                                    <div (click)="blockBodyScroll(); this.popupelimination = 0" class="popup__esci">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: center;margin-top:16px">
                <a *ngIf="this.stagioneData_galleria.length > 5">scorri in basso</a>
            </div>
        </div>
        <div class="container__stagione__section__one card" *ngIf="stagionesezione == 2">
            <div class="container__stagione__section__inside__superiore">
                <div class="corsi__up">
                    <div class="corsi__up__section__uno">
                        <h2>Corsi</h2>
                    </div>
                    <div class="corsi__up__section__two">
                        <button class="button button__blue" (click)="aggiungiCorso()">Aggiungi</button>
                    </div>
                </div>
            </div>

            <div class="container__stagione__section__inside">
                <div *ngFor="let corso of this.stagioneData_corsi; let i=index">
                    <div class="littlecard" *ngIf="i != 0">
                        <div style="cursor: pointer;" *ngIf="this.opencorso !=i" (click)="this.opencorso = i">
                            <span>{{corso.titolo}}</span>
                        </div>
                        <div *ngIf="this.opencorso == i">
                            <div>
                                <div>
                                    <h3>Titolo</h3>
                                    <input placeholder="{{corso.titolo}}" value="{{corso.titolo}}" #corsotitolo
                                        class="input__style">
                                </div>
                                <div>
                                    <h3>Descrizione</h3>
                                    <textarea value="{{corso.descrizione}}" #corsodescrizione
                                        class="input__style">{{corso.descrizione}}</textarea>
                                </div>
                                <div>
                                    <h3>Età</h3>
                                    <input placeholder="{{corso.eta}}" value="{{corso.eta}}" #corsoeta
                                        class="input__style">
                                </div>
                                <div>
                                    <h3>Prezzo</h3>
                                    <input placeholder="{{corso.prezzo}}" value="{{corso.prezzo}}" #corsoprezzo
                                        class="input__style">
                                </div>
                            </div>
                            <div style="display: flex;">
                                <button class="button__blue button"
                                    (click)="modificaCorso(corso.id, corsotitolo, corsodescrizione, corsoprezzo, corso.creazione, corso.iscritti, corsoeta)">Salva</button>
                                <button class="button__red button" (click)="this.popupelimination=1">Elimina</button>
                                <div class="popup" id="cssi" *ngIf="this.popupelimination == 1 ">
                                    <div class="popup__inside container">
                                        <h2>Sei sicuro </h2>
                                        <div style="display: flex;">
                                            <button class="button__blue button"
                                                (click)="blockBodyScroll(); this.eliminationFunction(1, corso.id)">Si</button>
                                            <button class="button__red button"
                                                (click)="blockBodyScroll(); this.popupelimination = 0 ">No</button>
                                        </div>
                                    </div>
                                    <div (click)="blockBodyScroll(); this.popupelimination = 0" class="popup__esci">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: center;margin-top:16px" *ngIf="this.stagioneData != ''">
                <a *ngIf=" this.stagioneData_corsi.length> 5">scorri in basso</a>
            </div>
        </div>
    </div>
    <div>
        <button class="button button__blue" (click)="updateData(nomemod.value, iniziomod.value, finemod.value)"
            style="width: 200px;">Salva modifiche</button>
        <button class="button button__red" (click)="eliminaStagione()" style="width: 200px;">Elimina stagione</button>
    </div>
    <div class="message__container" *ngIf="this.message != '' || this.messagErrore != ''">
        <a class="approved">{{this.message}}</a>
        <a class="error">{{this.messagErrore}}</a>
    </div>
</div>