.container__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: ". . .";
}

.container__stagione {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px 500px;
    grid-template-areas: "container__stagione__section__zero container__stagione__section__menu" "container__stagione__section__zero container__stagione__section__one";
}

.container__stagione__section__menu {
    grid-area: container__stagione__section__menu;
}

.container__stagione__section__zero {
    grid-area: container__stagione__section__zero;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ".""."".";
}

.container__stagione__section__one {
    grid-area: container__stagione__section__one;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 0.2fr;
    grid-template-areas: ".""."".";
}

.container__stagione__section__inside {
    overflow-y: scroll;
}

.cssi__docs {
    display: flex;
    flex-wrap: wrap;
}

.corsi__up {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "corsi__up__section__uno . corsi__up__section__two";
}

.corsi__up__section__uno {
    grid-area: corsi__up__section__uno;
}

.corsi__up__section__two {
    grid-area: corsi__up__section__two;
}

.message__container {
    position: absolute;
    z-index: 300;
    bottom: 20px;
    width: 100%;
    margin-left: -1cm;
    text-align: center;
}

.mod__cartella {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "mod__cartella__sez__one mod__cartella__sez__three" "mod__cartella__sez__two od__cartella__sez__three";
}

.mod__cartella__sez__one {
    grid-area: mod__cartella__sez__one;
}

.mod__cartella__sez__two {
    grid-area: mod__cartella__sez__two;
}

.mod__cartella__sez__three {
    grid-area: mod__cartella__sez__three;
}

.file__carica__container label {}


/* 
.file__carica__container input{
    display: none;
} */

.file__carica__container img {
    width: 100%;
    margin-bottom: 30px;
}