<div>
    <div>
        <h1 style="margin-left: 1vw;">Impostazioni</h1>
        <div class="container__up">
            <div class="container">
                <h2>Account</h2>
                <div>
                    <a>Accesso eseguito come {{userData.nome}} {{userData.cognome}}</a>
                </div>
            </div>
            <div class="container">
                <h3 class="elimina">Elimina profilo</h3>
                <h3 class="modifica">Cambia password</h3>
            </div>
        </div>
        <div class="container__up">
            <div class="container">
                <h2>Dati utente</h2>

                <div class="input__container">
                    <div>
                        <h3>Nome</h3>
                        <input class="input__style__noactive" placeholder="Nome" #nome value="{{this.userData.nome}}">
                    </div>
                    <div>
                        <h3>Cognome</h3>
                        <input class="input__style__noactive" placeholder="Cognome" #cognome value="{{this.userData.cognome}}">
                    </div>
                    <div>
                        <h3>Email</h3>
                        <input class="input__style__noactive" placeholder="Email" #email value="{{this.userData.email}}">
                    </div>
                    <div>
                        <h3>Data di nascita</h3>
                        <input class="input__style__noactive" placeholder="Data di nascita" #datadinascita value="{{this.userData.datadinascita}}">
                    </div>
                    <div>
                        <h3>Luogo di nascita</h3>
                        <input class="input__style__noactive" placeholder="Luogo di nascita" #luogodinascita value="{{this.userData.luogodinascita}}">
                    </div>
                    <div>
                        <h3>Codice fiscale</h3>
                        <input class="input__style__noactive" placeholder="Codice fiscale" #codicefiscale value="{{this.userData.codicefiscale}}">
                    </div>
                    <div>
                        <h3>Residenza</h3>
                        <input class="input__style__noactive" placeholder="Residenza" #residenza value="{{this.userData.residenza}}">
                    </div>
                    <div>
                        <h3>Telefono</h3>
                        <input class="input__style__noactive" placeholder="Telefono" #telefono value="{{this.userData.telefono}}">
                    </div>
                    <div>
                        <h3>Squadra</h3>
                        <div class="squadra">
                            <a *ngIf="this.userData.squadra != ''">{{this.userData.squadra}}</a>
                            <a *ngIf="this.userData.squadra == ''">nessuna</a>
                        </div>
                    </div>
                    <div>
                        <h3 *ngIf="this.userData.gestore != ''">Squadra in gestione</h3>
                        <div class="squadra">
                            <a>{{this.userData.gestore}}</a>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="button button__blue" (click)="updateAtleta(nome.value, cognome.value, email.value, datadinascita.value, luogodinascita.value, codicefiscale.value, residenza.value, telefono.value)">Salva modifiche</button>
                    <a *ngIf="this.message == 1" class="approved">Modifiche salvate</a>
                    <a *ngIf="this.message == 2" class="error">Nome o cognome assenti</a>
                    <a *ngIf="this.message == 3" class="error">Errore</a>
                </div>
            </div>
            <div class="container">
                <h2>Modalità</h2>
                <div>
                    <a>Modifica il tema colori di Sporty</a>
                    <div class="scelta__tema__container">
                        <div value="0" class="scelta__tema button__blue" (click)="changecolor(0)">
                            chiaro
                        </div>
                        <div value="1" class="scelta__tema button__blue" (click)="changecolor(1)">
                            scuro
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>