<div class="container__squadra__iniziale" *ngIf="this.sezioneSquadra == 0">
    <div>
        <div class="container__squadra__iniziale__inside__1">
            <div>
                <h1 class="big__h1">Benvenuto in Squadre</h1>
                <h2 style="color: var(--sporty-blue);">Cerca Squadra</h2>
            </div>
        </div>
        <div class="container__squadra__iniziale__inside__2">
            <div class="input__button">
                <input class="input__style" placeholder="Nome squadra, codice ecc..." #squadravalue (keyup.enter)="cercaSquadra(squadravalue.value)">
                <button style="margin: 0.8vh 0 0.8vh 0;" class="button button__blue" (click)="cercaSquadra(squadravalue.value)">Cerca</button>
            </div>
        </div>
        <div class="container__squadra__iniziale__inside__3">
            <h2>Crea una nuova squadra</h2>
            <button class="button" (click)="sezioneSquadra = 1">Crea squadra</button>
        </div>
    </div>
    <div class="container__squadra__iniziale__inside__4">
        <div class="card card__big" *ngFor="let squadra of this.arraySquadre" (click)="this.squadraScelta = squadra; this.sezioneSquadra = 2">
            <h2>{{squadra.nomesquadra}}</h2>
            <div>
                <a>{{squadra.codicesquadra}}</a>
            </div>
        </div>
    </div>
</div>
<div>
    <h1>Creazione Squadra</h1>
    <h2>Compila tutti i campi per lacreazione della squadra</h2>
    <div>
        <input placeholder="codicesquadra">
        <input placeholder="federazione">
        <input placeholder="emailsquadra">
        <input placeholder="nomesquadra">
        <input placeholder="passwordteam">
        <input placeholder="sedesquadra">
        <input placeholder="codicesquadra">
    </div>
</div>
<div *ngIf="this.sezioneSquadra == 2 || this.sezioneSquadra == 6">
    <div class="popup" *ngIf="this.sezioneSquadra == 6">
        <div class="container popup__inside">
            <div>
                <h1>Accedi a </h1>
                <h1>{{this.squadraScelta.nomesquadra}}</h1>
            </div>
            <div class="input__button">
                <input class="input__style" type="password" placeholder="password" #pass (keyup.enter)="accediSquadra(pass.value)">
                <button class="button button__blue" (click)="accediSquadra(pass.value)">Accedi</button>
            </div>
            <div style="height: 2vw;">
                <a class="approved" *ngIf="this.message == 1">Acesso avvenuto con successo</a>
                <a class="error" *ngIf="this.message == 2">Acesso negato</a>
            </div>
        </div>
        <div class="popup__esci" (click)="this.sezioneSquadra = 2">

        </div>
    </div>
    <div class="container container__info__squadra_superiore">
        <div class="container__info__squadra_superiore__inside">
            <button class="button">Chiudi</button>
            <div class="container__info__squadra_superiore__inside__container">
                <h1>{{this.squadraScelta.nomesquadra}}</h1>
            </div>
        </div>
        <div class="bacheca">
            <button (click)="this.sezioneSquadra = 3" class="circle__button button__blue">
                Iscriviti
            </button>
        </div>
    </div>
    <div class="container container__info__squadra">
        <div>
            <div class="card__accedi__gestori">
                <h3>Accedi all'area gestori</h3><button class="button__blue button" (click)="this.sezioneSquadra = 6">Accedi</button>
            </div>
            <div class="card__accedi__gestori">
                <div>
                    <h3>sede squadra:

                    </h3>
                    <div>
                        <a style="color: var(--text-minor);">{{this.squadraScelta.sedesquadra}}</a>
                    </div>
                </div>
                <div>
                    <h3>email:
                    </h3>
                    <div>
                        <a style="color: var(--text-minor);">{{this.squadraScelta.emailsquadra}}</a>
                    </div>
                </div>
                <div>
                    <h3>codice:
                    </h3>
                    <div>
                        <a style="color: var(--text-minor);">{{this.squadraScelta.codicesquadra}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card__accedi__gestori">
            <h2>Bacheca</h2>
            <a>Non è stato aggiunto niente</a>
        </div>
    </div>
</div>
<div class="container__profili__inside" *ngIf="this.sezioneSquadra == 3">
    <div class="container__profili__inside__1">
        <h1 class="big__h1">Iscrizione a</h1>
        <h1 class="big__h1">{{this.squadraScelta.nomesquadra}}</h1>
        <p>Per poterti iscrivere a {{this.squadraScelta.nomesquadra}} devi inserire tutti i tuoi dati corretti, caricare i file richiesti e accettare i documenti della squadra</p>
        <div>
            <h3>{{atletaBase.nome}}</h3>
            <h3>{{atletaBase.cognome}}</h3>
            <h3>{{atletaBase.email}}</h3>
            <h3>{{atletaBase.datadinascita}}</h3>
            <h3>{{atletaBase.luogodinascita}}</h3>
            <h3>{{atletaBase.codicefiscale}}</h3>
            <h3>{{atletaBase.residenza}}</h3>
            <h3>{{atletaBase.telefono}}</h3>
        </div>
    </div>
    <div class="container__profili__inside__2">
        <div class="input__container" style="display: none;" *ngIf="sezioneIscrizione == 0">
            <input #nome value="{{atletaBase.nome}}" class="input__style" type="text" placeholder="Nome">
            <input #cognome value="{{atletaBase.cognome}}" class="input__style" type="text" placeholder="Cognome">
            <input #email value="{{atletaBase.email}}" class="input__style" type="text" placeholder="Email">
            <input #datadinascita value="{{atletaBase.datadinascita}}" class="input__style" type="date" placeholder="Data di nascita">
            <input #luogodinascita value="{{atletaBase.luogodinascita}}" class="input__style" type="text" placeholder="Luogo di nascita">
            <input #codicefiscale value="{{atletaBase.codicefiscale}}" class="input__style" type="text" placeholder="Codice fiscale">
            <input #residenza value="{{atletaBase.residenza}}" class="input__style" type="text" placeholder="Residenza">
            <input #telefono value="{{atletaBase.telefono}}" class="input__style" type="text" placeholder="Telefono">
        </div>
        <div class="corsi__container" *ngIf="sezioneIscrizione == 0">
            <div>

            </div>
        </div>
        <div class="immagini__container" *ngIf="sezioneIscrizione == 1">

        </div>
        <div class="documenti__container" *ngIf="sezioneIscrizione == 2">

        </div>
    </div>
    <div class="container__profili__inside__3">
        <div style="display: none;" *ngIf="sezioneIscrizione == 0">
            <button class="button button__blue" (click)="this.sezioneIscrizione = 1">Vai avanti</button>
            <div style="display: none;">
                <a class="error">Non tutti i campi sono stati compilati</a>
            </div>
        </div>
        <div *ngIf="sezioneIscrizione == 0">
            <button class="button button__blue" (click)="this.sezioneSquadra = 2">Torna indietro</button>
            <button class="button button__blue" (click)="this.sezioneIscrizione = 2; stagione()">Vai avanti</button>
            <div style="display: none;">
                <a class="error">Non hai scelto un corso</a>
            </div>
        </div>
        <div *ngIf="sezioneIscrizione == 1">
            <button class="button button__blue" (click)="this.sezioneIscrizione = 1">Torna indietro</button>
            <button class="button button__blue" (click)="this.sezioneIscrizione = 3">Vai avanti</button>
            <div style="display: none;">
                <a class="error">L'immagine non va bene</a>
                <a class="error">Caricamento incompleto</a>
            </div>
        </div>
        <div *ngIf="sezioneIscrizione == 2">
            <button class="button button__blue" (click)="this.sezioneIscrizione = 2">Torna indietro</button>
            <button class="button button__blue" (click)="this.sezioneSquadra = 5; this.sezioneIscrizione = 0">Salva e
                chiudi</button>
            <div style="display: none;">
                <a class="error">Devi accettare i documenti</a>
                <a class="approved">Atleta iscritto con successo</a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="this.sezioneSquadra == 4">
    <div class="container container__info__squadra_superiore">
        <div class="container__info__squadra_superiore__inside">
            <button class="button">Chiudi</button>
            <div class="container__info__squadra_superiore__inside__container">
                <div class="title__two__sides">
                    <div class="title__two__sides__sez1">
                        <h1>{{this.squadraScelta.nomesquadra}}</h1>
                    </div>
                    <div class="title__two__sides__sez2">
                        <span>
                            <svg class="mi1" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m9.25 22-.4-3.2q-.325-.125-.612-.3-.288-.175-.563-.375L4.7 19.375l-2.75-4.75 2.575-1.95Q4.5 12.5 4.5 12.337v-.675q0-.162.025-.337L1.95 9.375l2.75-4.75 2.975 1.25q.275-.2.575-.375.3-.175.6-.3l.4-3.2h5.5l.4 3.2q.325.125.613.3.287.175.562.375l2.975-1.25 2.75 4.75-2.575 1.95q.025.175.025.337v.675q0 .163-.05.338l2.575 1.95-2.75 4.75-2.95-1.25q-.275.2-.575.375-.3.175-.6.3l-.4 3.2Zm2.8-6.5q1.45 0 2.475-1.025Q15.55 13.45 15.55 12q0-1.45-1.025-2.475Q13.5 8.5 12.05 8.5q-1.475 0-2.488 1.025Q8.55 10.55 8.55 12q0 1.45 1.012 2.475Q10.575 15.5 12.05 15.5Z"/></svg>
                        </span>
                    </div>
                </div>
                <div style="display: flex; margin-top:2vw">
                    <button (click)="this.centrovar = 0" class="button" [ngClass]="{'open': centrovar === 0, 'notopen' :  centrovar != 0 }">Stagioni</button>
                    <button (click)="this.centrovar = 1" class="button" [ngClass]="{'open': centrovar === 1, 'notopen' :  centrovar != 1 }">Atleti</button>
                    <button (click)="this.centrovar = 2" class="button" [ngClass]="{'open': centrovar === 2, 'notopen' :  centrovar != 2 }">Allenamenti</button>
                </div>
            </div>
        </div>
        <div class="bacheca">
            <div class="container container__counter">
                <div>
                    <h2>Bacheca</h2>
                </div>
                <div class="container__counter__inside">
                    <span>Non è stato aggiunto niente</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <app-stagioni [squadraScelta]="squadraScelta" *ngIf="this.centrovar == 0"></app-stagioni>
            <app-utenti *ngIf="this.centrovar == 1"></app-utenti>
            <app-allenamenti *ngIf="this.centrovar == 2"></app-allenamenti>
        </div>
    </div>
</div>
<div *ngIf="this.sezioneSquadra == 5">

</div>

<div *ngIf="this.sezioneSquadra == 7">

</div>