.input__creasquadra {
    margin: 2vw 0vw 2vw 0vw;
}

.container__squadra__iniziale {
    margin: 4vw;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
}

.container__squadra__iniziale__inside__3 {
    margin-top: 6vw;
}

.container__squadra__iniziale__inside__4 {
    border-top: 2px solid var(--sporty-blue);
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: ". . .";
    border-radius: 2rem;
}

.container__info__squadra {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
}

.container__info__squadra_superiore {
    margin: 0vw 6vw 0vw 6vw;
    height: 8cm;
    border-radius: 2rem;
    background: var(--sfondo-squadra);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "container__info__squadra_superiore__inside . bacheca";
}

.container__info__squadra_superiore__inside__container {
    background-color: var(--container-trasparent);
    width: fit-content;
    height: fit-content;
    border-radius: 2rem;
    padding: 1vw;
}

.container__info__squadra_superiore__inside {
    margin-left: -4vw;
    grid-area: container__info__squadra_superiore__inside;
}

.card:hover{
    border: 2px solid var(--sporty-blue);
}

.card__accedi__gestori {
    background: var(--card);
    border-radius: 2rem;
    padding: 1vw;
    margin: 0.8vw;
}

.bacheca {
    grid-area: bacheca;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__profili__inside {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: "container__profili__inside__1 container__profili__inside__2""container__profili__inside__3 container__profili__inside__3";
    z-index: 99;
}

.container__profili__inside__1 {
    grid-area: container__profili__inside__1;
    margin: 4vw 1vw 0vw 0vw;
}

.container__profili__inside__2 {
    grid-area: container__profili__inside__2;
    margin-left: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__profili__inside__3 {
    margin-top: 3vw;
    text-align: center;
    grid-area: container__profili__inside__3;
}

.federazioni__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: ". . . . .";
}

.container__counter {
    height: 200px;
    width: 300px;
    border-radius: 2rem;
    background-color: var(--container-trasparent);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "."".";
}

.container__counter__inside {
    overflow-y: scroll;
}

.squadra__attiva {
    bottom: 0;
    height: 72px;
    right: 0;
    position: fixed;
    z-index: 300;
    border-radius: 3rem;
    margin: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--text-white) !important;
}

.container__creazione__squadra {
    margin: 4vw;
}

.container__creazione__squadra__inside {
    margin: 2vw;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
}

.desc__creasquadra {
    margin-right: 5vw;
}

.button__container {
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.slide__container {
    position: fixed;
    animation: slide__container__function 1s ease-in-out;
    overflow-y: hidden !important;
    padding: 4rem;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--container);
}

.container__scroll__iscrizione {
    margin: 2vw 0vw 2vw 0vw;
    height: 500px;
    overflow-y: scroll;
}

@keyframes slide__container__function {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

#iscrizione__popup .section__menu {
    margin-top: 2rem
}

#iscrizione__popup .section__menu div {
    display: flex;
    margin: 3rem 0 3rem 0;
}

#iscrizione__popup .section__menu h3 {
    margin: 0 0 0 0.5rem !important;
}

.iscrizione__container {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: min-content;
    grid-template-areas: ". .";
}

.stagione__scelta {
    border: 2px solid var(--sporty-blue);
}