<div class="container__squadra__iniziale" *ngIf="this.sezioneSquadra == 0 || this.sezioneSquadra == 1">
    <div class="container__squadra__iniziale__inside">
        <div class="container__squadra__iniziale__inside__1">
            <h1 class="big__h1">Benvenuto in Squadre</h1>
        </div>
        <div class="container__squadra__iniziale__inside__2">
            <div *ngIf="this.sezioneSquadra == 0">
                <button class="button button__blue" (click)="sezioneSquadra = 2">Crea Squadra</button>
                <button class="button button__blue" (click)="sezioneSquadra = 1">Cerca squadra</button>
            </div>
            <div *ngIf="this.sezioneSquadra == 1">
                <h2 style="color: var(--sporty-blue);">Cerca Squadra</h2>
                <input class="input__style" placeholder="Nome squadra, codice ecc..." #squadravalue (keyup.enter)="cercaSquadra(squadravalue.value)">
            </div>
        </div>
    </div>
</div>
<div class="container__card__squadra" *ngIf="this.sezioneSquadra == 1">
    <div class="card card__big" *ngFor="let squadra of this.arraySquadre" (click)="this.squadraScelta = squadra; this.sezioneSquadra = 2">
        <h2>{{squadra.nomesquadra}}</h2>
        <div>
            <a>{{squadra.codicesquadra}}</a>
        </div>
    </div>
</div>
<div *ngIf="this.sezioneSquadra == 2 || this.sezioneSquadra == 6">
    <div class="popup container__squadra__iniziale" *ngIf="this.sezioneSquadra == 6">
        <div class="container popup__inside">
            <div>
                <h1>Accedi a </h1>
                <h1>{{this.squadraScelta.nomesquadra}}</h1>
            </div>
            <div>
                <input class="input__style" type="password" placeholder="password" #pass (keyup.enter)="accediSquadra(pass.value)">
            </div>
            <div style="height: 2vw;">
                <a class="approved" *ngIf="this.message == 1">Acesso avvenuto con successo</a>
                <a class="error" *ngIf="this.message == 2">Acesso negato</a>
            </div>
        </div>
        <div class="popup__esci" (click)="this.sezioneSquadra = 2">

        </div>
    </div>
    <div class="container container__info__squadra_superiore">
        <div class="container__info__squadra_superiore__inside">
            <div class="container__info__squadra_superiore__inside__container">
                <h1>{{this.squadraScelta.nomesquadra}}</h1>
            </div>
        </div>
        <div class="button__iscrizione">
            <button (click)="this.sezioneSquadra = 3" class="circle__button button__blue">
                Iscriviti
            </button>
        </div>
    </div>
    <div class="container container__info__squadra">
        <div>
            <div class="card__accedi__gestori">
                <h3>Accedi all'area gestori</h3><button class="button__blue button" (click)="this.sezioneSquadra = 6">Accedi</button>
            </div>
            <div class="card__accedi__gestori">
                <div>
                    <h3>sede squadra:

                    </h3>
                    <div>
                        <a style="color: var(--text-minor);">{{this.squadraScelta.sedesquadra}}</a>
                    </div>
                </div>
                <div>
                    <h3>email:
                    </h3>
                    <div>
                        <a style="color: var(--text-minor);">{{this.squadraScelta.emailsquadra}}</a>
                    </div>
                </div>
                <div>
                    <h3>codice:
                    </h3>
                    <div>
                        <a style="color: var(--text-minor);">{{this.squadraScelta.codicesquadra}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card__accedi__gestori bacheca">
            <h2>Bacheca</h2>
            <a>Non è stato aggiunto niente</a>
        </div>
    </div>
</div>
<div class="container__profili__inside" *ngIf="this.sezioneSquadra == 3">
    <div class="container__profili__inside__1">
        <h1 class="big__h1">Iscrizione a</h1>
        <h1 class="big__h1">{{this.squadraScelta.nomesquadra}}</h1>
        <p>Per poterti iscrivere a {{this.squadraScelta.nomesquadra}} devi inserire tutti i tuoi dati corretti, caricare i file richiesti e accettare i documenti della squadra</p>
        <div>
            <h3>{{atletaBase.nome}}</h3>
            <h3>{{atletaBase.cognome}}</h3>
            <h3>{{atletaBase.email}}</h3>
            <h3>{{atletaBase.datadinascita}}</h3>
            <h3>{{atletaBase.luogodinascita}}</h3>
            <h3>{{atletaBase.codicefiscale}}</h3>
            <h3>{{atletaBase.residenza}}</h3>
            <h3>{{atletaBase.telefono}}</h3>
        </div>
    </div>
    <div class="container__profili__inside__2">
        <div class="input__container" style="display: none;" *ngIf="sezioneIscrizione == 0">
            <input #nome value="{{atletaBase.nome}}" class="input__style" type="text" placeholder="Nome">
            <input #cognome value="{{atletaBase.cognome}}" class="input__style" type="text" placeholder="Cognome">
            <input #email value="{{atletaBase.email}}" class="input__style" type="text" placeholder="Email">
            <input #datadinascita value="{{atletaBase.datadinascita}}" class="input__style" type="date" placeholder="Data di nascita">
            <input #luogodinascita value="{{atletaBase.luogodinascita}}" class="input__style" type="text" placeholder="Luogo di nascita">
            <input #codicefiscale value="{{atletaBase.codicefiscale}}" class="input__style" type="text" placeholder="Codice fiscale">
            <input #residenza value="{{atletaBase.residenza}}" class="input__style" type="text" placeholder="Residenza">
            <input #telefono value="{{atletaBase.telefono}}" class="input__style" type="text" placeholder="Telefono">
        </div>
        <div class="corsi__container" *ngIf="sezioneIscrizione == 0">
            <div>

            </div>
        </div>
        <div class="immagini__container" *ngIf="sezioneIscrizione == 1">

        </div>
        <div class="documenti__container" *ngIf="sezioneIscrizione == 2">

        </div>
    </div>
    <div class="container__profili__inside__3">
        <div style="display: none;" *ngIf="sezioneIscrizione == 0">
            <button class="button button__blue" (click)="this.sezioneIscrizione = 1">Vai avanti</button>
            <div style="display: none;">
                <a class="error">Non tutti i campi sono stati compilati</a>
            </div>
        </div>
        <div *ngIf="sezioneIscrizione == 0">
            <button class="button button__blue" (click)="this.sezioneSquadra = 2">Torna indietro</button>
            <button class="button button__blue" (click)="this.sezioneIscrizione = 2; stagione()">Vai avanti</button>
            <div style="display: none;">
                <a class="error">Non hai scelto un corso</a>
            </div>
        </div>
        <div *ngIf="sezioneIscrizione == 1">
            <button class="button button__blue" (click)="this.sezioneIscrizione = 1">Torna indietro</button>
            <button class="button button__blue" (click)="this.sezioneIscrizione = 3">Vai avanti</button>
            <div style="display: none;">
                <a class="error">L'immagine non va bene</a>
                <a class="error">Caricamento incompleto</a>
            </div>
        </div>
        <div *ngIf="sezioneIscrizione == 2">
            <button class="button button__blue" (click)="this.sezioneIscrizione = 2">Torna indietro</button>
            <button class="button button__blue" (click)="this.sezioneSquadra = 5; this.sezioneIscrizione = 0">Salva e chiudi</button>
            <div style="display: none;">
                <a class="error">Devi accettare i documenti</a>
                <a class="approved">Atleta iscritto con successo</a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="this.sezioneSquadra == 4">
    <div class="container container__info__squadra_superiore">
        <div class="container__info__squadra_superiore__inside">
            <div class="container__info__squadra_superiore__inside__container">
                <h1>{{this.squadraScelta.nomesquadra}}</h1>
                <div style="display: flex; margin-top:2vw">
                    <button (click)="this.centrovar = 0" class="button" [ngClass]="{'open': centrovar === 0, 'notopen' :  centrovar != 0 }">Stagioni</button>
                    <button (click)="this.centrovar = 1" class="button" [ngClass]="{'open': centrovar === 1, 'notopen' :  centrovar != 1 }">Atleti</button>
                    <button (click)="this.centrovar = 2" class="button" [ngClass]="{'open': centrovar === 2, 'notopen' :  centrovar != 2 }">Allenamenti</button>
                </div>
            </div>
        </div>
        <div class="button__iscrizione">
            <div class="container__counter">
                <div class="card">
                    <h3>{{stagionicounter.length}}</h3>
                    <div>
                        <a>Stagioni</a>
                    </div>
                </div>
                <div class="card">
                    <h3>0</h3>
                    <div>
                        <a>Iscritti</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sqadra__ptgestori__centro">
        <div class="container">
            <app-stagioni [squadraScelta]="squadraScelta" *ngIf="this.centrovar == 0"></app-stagioni>
            <app-utenti *ngIf="this.centrovar == 1"></app-utenti>
            <app-allenamenti *ngIf="this.centrovar == 2"></app-allenamenti>
        </div>
        <div class="container">
            <h2>Bacheca</h2>
            <a>Non è stato aggiunto niente</a>
        </div>
    </div>
</div>
<div *ngIf="this.sezioneSquadra == 5">

</div>

<div *ngIf="this.sezioneSquadra == 7">

</div>