.container__squadra__iniziale {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__squadra__iniziale__inside {
    margin: 12vw 8vw 4vw 8vw;
}

.container__squadra__iniziale__inside__1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__squadra__iniziale__inside__2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__squadra__iniziale__inside__2 {
    text-align: center;
}

.container__squadra__iniziale__inside__2 button {
    margin: 2vw;
}

.container__card__squadra {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__info__squadra {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
}

.container__info__squadra_superiore {
    margin: 0vw 6vw 0vw 6vw;
    height: 18vw;
    border-radius: 2rem;
    background: var(--sfondo-squadra);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-position: center;
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "container__info__squadra_superiore__inside . button__iscrizione";
}

.container__info__squadra_superiore__inside__container {
    background-color: var(--container-trasparent);
    margin-left: -6vw;
    width: min-content;
    height: fit-content;
    border-radius: 2rem;
    padding: 1vw;
}

.container__info__squadra_superiore__inside {
    grid-area: container__info__squadra_superiore__inside;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__accedi__gestori {
    background: var(--card);
    border-radius: 2rem;
    padding: 1vw;
    margin: 0.8vw;
}

.button__iscrizione {
    grid-area: button__iscrizione;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__profili__inside {
    display: grid;
    margin: 4vw 8vw 8vw 8vw;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: "container__profili__inside__1 container__profili__inside__2""container__profili__inside__3 container__profili__inside__3";
    z-index: 99;
}

.container__profili__inside__1 {
    grid-area: container__profili__inside__1;
    margin: 4vw 1vw 0vw 0vw;
}

.container__profili__inside__2 {
    grid-area: container__profili__inside__2;
    margin-left: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__profili__inside__3 {
    margin-top: 3vw;
    text-align: center;
    grid-area: container__profili__inside__3;
}

.input__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: ". .";
}

.popup__accedi__squadra {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-top: 0 !important;
    background-color: var(--container-trasparent);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 99;
}

.popup__accedi__squadra__inside {
    overflow-x: hidden;
    z-index: 99;
}

.popup__accedi__squadra__esci {
    z-index: 50;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.container__counter {
    text-align: center;
    border-radius: 2rem;
    background-color: var(--container-trasparent);
    display: flex;
}

.sqadra__ptgestori__centro {
    display: grid;
    grid-template-columns: auto 20vw;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
}